@import "../styles/variables.scss";

.projectContainer {
  width: 100%;
  padding: 1rem;
  border-radius: 1.25rem;
  border: 1px solid $mainAccent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: $mainColor;
  line-height: 120%;
  text-decoration: none !important;

  & + & {
    margin-top: 40px;
  }

  &:hover {
    background-color: #a6c8ff;

    path {
      stroke: white !important;
    }
  }

  @media screen and ($tablet) {
    flex-direction: row;

    & + & {
      margin-top: 20px;
    }
  }
}

.arrowIcon {
  display: none;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;

  @media screen and ($tablet) {
    display: block;
  }
}

.projectImageContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and ($tablet) {
    margin: 0 20px 0 0;
  }
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.projectDescriptionContainer {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: unset;
  margin-bottom: 0.5rem;
}

.projectDescription {
  margin: unset;
}
