.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  margin-bottom: 65px;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.personalInfo {
  width: 100%;
  display: flex;
  align-items: center;

  /* DESKTOP STYLES */
  /* margin-bottom: 200px; */
}

.personalInfoText {
  max-width: calc(100% - 150px);
}

.personalInfoTitle {
  color: #3066be;
  font-size: 2.25rem;
  line-height: 100%;
  margin: 0 0 0.5rem;
}

.personalInfoJobTitle {
  font-weight: 700;
  font-size: 1.25rem;
}

.personalInfoDescription {
}

.navigation {
  display: none;
}

.navigationSectionContainer {
}

.navigationSectionName {
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-shadow: -3px 0px 30px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.ctaButton {
  border-radius: 0.5rem;
  padding: 0.5rem 0.375rem;
  cursor: pointer;

  & + & {
    margin-left: 1rem;
  }

  &:hover {
    background-color: #a6c8ff;
  }
}

.downloadResume {
  padding: 0.625rem 2rem;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: #3066be;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  text-decoration: none;
}

.photoContainer {
  width: 175px;
  height: 175px;
  overflow: hidden;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}

.mainContent {
  width: 100%;
  /*
  DESKTOP STYLES
  height: 100vh;
  overflow-y: scroll;
  padding: 72px 125px 72px 25px; */
}

.sectionTitle {
  margin-top: 60px;
  color: #3066be;
  font-size: 28px;

  /* DESKTOP STYLES
  margin-top: 150px;
   */
}

.sidebar__navigation {
  margin-bottom: 285px;
}
