.workHistoryContainer {
  & + & {
    margin-top: 40px;
  }
}

.workHistoryHeaderContainer {
  display: flex;
  flex-direction: column;
}

.workHistoryTitleCotnainer {
  display: flex;
  flex-direction: column-reverse;
  // DESKTOP STYLES
  // display: flex;
  // align-items: center;
  // flex-direction: column;
}

.workHistoryTitle {
}

.workHistoryTitleText {
  font-weight: 700;
}

.workHistoryDates {
  margin-bottom: 0.5rem;
  color: rgba(30, 30, 30, 0.5);
}

.workHistoryDescription {
  margin-top: 0.5rem;
}

.workHistoryBullets {
}

.workHistoryBullet {
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  /*
  DESKTOP STYLES
  padding: 0px 22px;
  */
}

.skill {
  display: block;
  padding: 8px;
  border: 1px solid #a6c8ff;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: #3066be;
}
